<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <a target="_blank" href="https://etseib.upc.edu/ca/serveis/solucions-tic">
            Serveis TIC UTG de l'Àmbit de l'Enginyeria Industrial de Barcelona</a>, {{ 'now'|date('Y') }}
    </div>
</footer>

